*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div  img {
    width: 100px;
    padding: 15px;
}

.baloncesto {
    width: 80px;
    padding: 15px;
    margin: 15px;
}
.logo {
    width: 300px;
    margin: 0px;
    padding: 0px;
}

.portadas{

}
  
.portada{
    width: 1200px;
    /* margin-bottom: -486px; */
    /* margin-left: 16px; */
    border-radius: 130px;
}
.fondo {
    width: 1240px;
    /* height: 520px;
    opacity: 70%; */
    border-radius: 100px;
    background-color: rgba(64, 24, 223, 0.63);
    padding: 30px;

}
div p {
    text-align: justify;
  
}
.selecionadores{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.button{
  font-size: 32px;
  background: #1c1c1c;
  color: #f1f1f1;
  border-radius: 45px;
  padding: 12px;
}