/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: honeydew;
}

/* Estilos del encabezado y la barra lateral */
header {
  background-color: #333;
  color: white;
  padding: 10px;
}

.sidebar {
  background-color: #555;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.img {
  text-align: center;
  display: contents;
  justify-content: flex-start;
}

.img .futbol {
  height: 164px;
  border-radius: 186px;
}
.img .baloncesto {
  height: 121px;
  border-radius: 186px;
  padding: 29px;
}

.img .tenis {
  height: 157px;
  border-radius: 186px;
  padding: 11px;
}

.img .logg {
  height: 50px;
}

/* Estilos de las secciones */
.portadas {
  text-align: center;
  padding: 20px;
}

.portadas .fondo {
  background-color: #eee;
  padding: 20px;
}

.portadas .texto {
  font-style: italic;
}

.selecionadores {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.selecionador {
  margin: 10px;
}

.testimonial {
  text-align: center;
  padding: 20px;
}

.testimonial .sgv .circulo {
  margin-bottom: 10px;
}

.saltando {
  display: block;
  margin: 0 auto;
}

/* Otros estilos */
.bi {
  font-size: 24px;
}

/* Estilos específicos para el icono de TV */
div.bi-tv {
  color: rgb(148, 215, 216);
  display: flex;
  justify-content: center;
  /*top: 850px;
  width: 1400px;
  height: 800px;*/
}

/* Estilos para la imagen del logo */
.logo {
  width: 100px;
  height: 100px;
  border-radius: 186px;
}
